# Игнорируем папки кэша и временные файлы
__pycache__/
*.py[cod]

# Игнорируем выводы и резервные файлы
nohup.out
*.bk*
*.csv

# Игнорируем системные файлы IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорируем файлы конфигурации ОС
.DS_Store
Thumbs.db

# Игнорируем настройки git
.gitignore.git
