<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/style.css" />

    <title>Просмотр логов</title>
</head>

<body>
    <h1>Просмотр логов</h1>
    <form method="post" action="/logout">
        <button type="submit" class="logout-button">Выход</button>
    </form>

    <form method="POST" action="/">
        <input type="text" name="search" placeholder="Поиск по имени ПК и пользователя" />
        <button type="submit">Поиск</button>
    </form>



    {% if results %}

    <table>
        <thead>
            <tr>
                <th>Дата</th>

                <th>Пользователь</th>

                <th>Имя компьютера</th>
            </tr>
        </thead>

        <tbody>
            {% for log in results %}

            <tr>
                <td>{{ log['LogonTime'] }}</td>

                <td>{{ log['UserName'] }}</td>

                <td>{{ log['ComputerName'] }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p class="warning">Результатов не найдено</p>

    {% endif %}
</body>

</html>