<!doctype html>

<html lang="en">
        
    <head>
        <title>Вход</title>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="/templates/logo.png">
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <div style="border: 5px" class="login-container">
            <h1>Вход</h1>

            <form method="POST" action="/login">
                {{ form.hidden_tag() }}

                <input style="margin-top: 10px; width: 380px;" type="text" placeholder="Логин" {{ form.username }}<br>

                <input style="margin-top: 10px; width: 380px;" type="password" placeholder="Пароль" {{ form.password }}<br>

                <button style="margin-top: 10px" type="submit" {{form.submit() }} Вход </button>
            </form>
        </div>
    </body>
</html>
