<!doctype html>

<html lang="en">
    <head>
        <title>Вход</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div style="border: calc" class="login-container">
            <h1>Вход</h1>

            <form method="POST" action="/login">
                {{ form.hidden_tag() }} {{ form.username.label }}<br />

                <input type="text" placeholder="Логин" {{ form.username(size="32)" }} />

                <!--{{ form.username(size=32) }}<br />-->

                {{ form.password.label }}<br />

                <input type="text" placeholder="Пароль" {{ form.password(size="32)" }} />

                <!--{{ form.password(size=32) }}<br />-->

                <button type="submit" {{ form.submit() }}>Вход</button>
            </form>
        </div>
    </body>
</html>
